<?xml version="1.0" encoding="utf-8"?>


<!--We can update configuration here based on our requirements but for this project we will keep this basic configuration as it is-->

<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers> 
      <!--We have SqlClient which will convert into tsql and execute, we did not provide any database so will consider to create databas locally-->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <!--To see ADOEModel.cs class Graph we need to add this connection string into this App.config File-->
  <!--<connectionStrings>
    <add name="ADOEModel"
      connectionString="data source=;initial catalog=;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>-->


  <connectionStrings>
    <add name="LoginContext"
      connectionString="data source=;initial catalog=;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  <!--Local Database-->
  <!--<connectionStrings>
    <add name="LoginContext"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;
         Initial Catalog=LoginLocal;
         Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  
</configuration>